page-home {

    ion-content {
       // background: #000000 !important;
        //background-size: 100%;
        background-color: green;
        //background-image: url('../../assets//imgs/login-bg.jpg');
    }

    .imgLogin{
        height: 90px;
        width: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        background-color: white;
        border-radius: 50px;
        padding: 2px;
    }
    
}
